@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


body {
    background-color: #F7F7F7;
    color: #4B4B4B;
}

.service-title {
    font-family: 'Ubuntu Mono';
}

.container {
    background-color: #FEFEFE;
}

#results-of-each-job-icons img {
    width: 7%;
    height: auto;
}